{% extends "baseAdmin.html.twig" %}
    {% block container %}
<div class="widget widget_cetagories">
    <div class="environment-widget-heading"><h2>Categories</h2></div>
    <ul>
        <li><a href="{{ path('filter_product' ,{'nompr':"Hunting"} )}}">Hunting</a></li>
        <li><a href="{{ path('filter_product' ,{'nompr':"Fishing"} )}}">Fishing</a></li>
        <li><a href="{{ path('filter_product' ,{'nompr':"Bait"} )}}">Bait</a></li>
    </ul>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="margin-bottom: 50px">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>PRODUCT ID</th>
                                <th>PRODUCT Name</th>
                                <th>PRODUCT Quantity</th>
                                <th>PRODUCT Descrip</th>
                                <th>PRODUCT PRICE</th>
                                <th>PRODUCT FILE</th>
                                <th>Category Product</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in products %}
                                <tr>
                                    <td>PRODUCT N°: {{ i.id }}</td>
                                    <td>{{ i.nompr }}</td>
                                    <td>{{ i.quantity }}</td>
                                    <td>{{ i.descrip}}</td>
                                    <td>{{ i.prix}}</td>
                                    <td><img src="{{ asset('images/') }}{{ i.image }}" style="width: 50px;height: 50px"></td>
                                    <td>{{ i.Category.nomcat}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}