{% extends "base.html.twig" %}


        {% block body %}
            <div class="blog">
                <div class="container">
                    <div class="blog-top">

         <div style="border-radius: 20px;
                background-color: #ffc54e;
                padding: 10px;"><h3 style="text-align: left;color: white">Post creation</h3></div>
         {% form_theme form 'bootstrap_3_layout.html.twig' %}
         {{ form_start(form) }}
            <div    style="border-radius: 20px;
                    background-color: #e6e6e6;
                    padding: 30px;">
                <h4 style="padding-bottom: 10px;">Your Title:</h4>
                <div>{{ form_widget(form.title) }}</div>

                <div ><h4 style="padding-top: 20px;padding-bottom: 10px;">Details:</h4>
                {{ form_widget(form.text) }}
                </div>
            </div>
                {{ form_widget(form) }}
              <div class="button"><input  type="submit" value="Create" class="btn btn-success"/></div>
         {{ form_end(form) }}
            <a href="{{ path('post_index') }}" class="btn btn-warning">Back</a>



    </div>
    </div>
</div>
        {% endblock %}
