{% extends "base.html.twig" %}
{% block body %}
    <div class="banner">
        <div class="container">
            <script src="{{ asset('bundles/product1/js/responsiveslides.min.js')}}"></script>
            <script>
                $(function () {
                    $("#slider").responsiveSlides({
                        auto: true,
                        nav: true,
                        speed: 500,
                        namespace: "callbacks",
                        pager: true,
                    });
                });
            </script>
            <div  id="top" class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>

                        <div class="banner-text">
                            <h3>Hunting is an obsession </h3>
                            <p>“The fascination of shooting as a sport depends almost wholly on whether you are at the right or wrong end of the gun.”
                                ― P.G. Wodehouse, The Adventures of Sally</p>
                            <a href="single.html">Learn More</a>
                        </div>

                    </li>
                    <li>

                        <div class="banner-text">
                            <p>“Wildlife, we are constantly told, would run loose across our towns and cities were it not for the sport hunters to control their population, as birds would blanket the skies without the culling services of Ducks Unlimited and other groups. Yet here they are breeding wild animals, year after year replenishing the stock, all for the sole purpose of selling and killing them, deer and bears and elephants so many products being readied for the market. Animals such as deer, we are told, have no predators in many areas, and therefore need systematic culling. Yet when attempts are made to reintroduce natural predators such as wolves and coyotes into these very areas, sport hunters themselves are the first to resist it. Weaker animals in the wild, we hear, will only die miserable deaths by starvation and exposure without sport hunters to control their population. Yet it's the bigger, stronger animals they're killing and wounding--the very opposite of natural selection--often with bows and pistols that only compound and prolong the victim's suffering.”
                                ― Matthew Scully, Dominion: The Power of Man, the Suffering of Animals, and the Call to Mercy</p>
                            <a href="single.html">Learn More</a>

                        </div>

                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="content">
    <div class="container">
        <div class="content-top">
            <h1>NEW RELEASED</h1>
            <div class="grid-in">
                <div class="col-md-4 grid-top">
                    <a href="{{ path ('list_product_index') }}" class="b-link-stripe b-animate-go  "><img class="img-responsive" src="{{ asset('bundles/product1/images/pi.jpg')}}" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>Special PROMO on Sig Sauer P226 Select 9MM E26R9SEL</span>
                            </h3>
                        </div>
                    </a>


                    <p><a href="single.html">type sthg</a></p>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="single.html" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="{{ asset('bundles/product1/images/pi1.jpg')}}" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left b-delay03 ">
                                <span>CROSSBOW is now available</span>
                            </h3>
                        </div>
                    </a>
                    <p><a href="single.html">type sthg</a></p>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="single.html" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="{{ asset('bundles/product1/images/pi2.jpg')}}" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>Fish Lures on promotion!</span>
                            </h3>
                        </div>
                    </a>
                    <p><a href="single.html">type sthg</a></p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="grid-in">
                <div class="col-md-4 grid-top">
                    <a href="single.html" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="{{ asset('bundles/product1/images/pi3.jpg')}}" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>Shirt</span>
                            </h3>
                        </div>
                    </a>
                    <p><a href="single.html">type sthg</a></p>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="single.html" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="{{ asset('bundles/product1/images/pi6.jpg')}}" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>Fish Lures on promotion!</span>
                            </h3>
                        </div>
                    </a>
                    <p><a href="products.html">Access to the shop!</a></p>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="single.html" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="{{ asset('bundles/product1/images/pi5.jpg')}}" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>Shoe</span>
                            </h3>
                        </div>
                    </a>
                    <p><a href="single.html">readable content</a></p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!----->

        <div class="content-top-bottom">
            <h2>Featured Collections</h2>
            <div class="col-md-6 men">
                <a href="single.html" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="{{ asset('bundles/product1/images/t1.jpg')}}" alt="">
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-top top-in   b-delay03 ">
                            <span>Clothing</span>
                        </h3>
                    </div>
                </a>


            </div>
            <div class="col-md-6">
                <div class="col-md1 ">
                    <a href="single.html" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="{{ asset('bundles/product1/images/pi4.jpg')}}" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-top top-in1   b-delay03 ">
                                <span>Weapons</span>
                            </h3>
                        </div>
                    </a>

                </div>
                <div class="col-md2">
                    <div class="col-md-6 men1">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="{{ asset('bundles/product1/images/t3.jpg')}}" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                    <span>Fishing</span>
                                </h3>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-6 men2">
                        <a href="single.html" class="b-link-stripe b-animate-go  thickbox"><img class="img-responsive" src="{{ asset('bundles/product1/images/t4.jpg')}}" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                    <span>Fish Lures</span>
                                </h3>
                            </div>
                        </a>

                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

{% endblock %}